body{
    background-image: linear-gradient(70deg, white, pink);
    background-repeat: no-repeat;
    background-attachment: fixed;
}


p{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.photos > img {
    
    padding: 10px;
    height: 400px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    border-radius: 20px;
    
}

.navbar{
    margin: 20px;
    padding: 5px;
    text-align: center;
    float: none;
}

a{
    
    text-decoration: none;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: medium;
    margin: 5px;
    padding: 10px;
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-left: violet;
    border-radius: 50px;
  }
  
  a:hover, a:active {
    background-color: red;
  }

.active-link{
    text-decoration: underline solid rgb(13, 78, 218) 3px;
    font-family: 'Source Sans Pro', sans-serif;
    
    
    
    
    
}

.text-p{
    font-family: sans-serif;
}

.footer{
    background-color: black;
    margin: 10px;

}